  <!-- NEED TO CHANGE PATH OF THIS LINK TO PROJECT SHOW -->
<% @project_list.reverse.each do |project| %>
  <div class="project-card">
    <%= link_to project_path(project) do %>
    <div class="project-card-content">
      <% if project.photo != nil %>
        <%= image_tag project.photo, class: "project-image" %>
      <% else %>
        <%= image_tag "project-default.jpg", class: "project-image" %>
      <% end %>
      <div class="project-card-info">
        <p class="proj-title"><%= project.title %></p>
        <div>
          <i class="fas fa-heart">23</i>
          <i class="fas fa-eye">50</i>
          <i class="fas fa-comment">15</i>
        </div>
      </div>
    </div>
    <% end %>
    <!-- NEED TO CHANGE PATH OF THIS LINK TO USER SHOW -->
    <%= link_to user_path(project.user.username) do %>
    <div class="project-card-user">
      <% if project.user.photo.attached? %>
          <%= cl_image_tag project.user.photo.key, class: 'project-avatar' %>
        <% else %>
          <img src="" alt="" class="project-avatar">
      <% end %>
      <span><%= project.user.username %></span>
    </div>
    <% end %>
  </div>
<% end %>


<div class="profile-card">
  <div class="profile-card-content">
    <div class="profile-card-info">
      <h6 class="profile-info-bold text-center"> <%= @user.username %></h6>
      <div class="d-flex justify-content-around">
        <p><i class="fas fa-tape"></i><%= " Available" if @user.available %></p>
        <p>London</p>
      </div>
      <div class="card-separator"></div>
      <p>Leland Tyler Wayne, professionally known as Metro Boomin,
        is an American record producer, record executive, songwriter, and DJ.</p>
        <h6 class="profile-info-bold">Specialty: Mixdowns </h6>
      <div class="card-separator"></div>
      <h6 class="profile-info-bold mt-2">Latest project: Electric Boogaloo</h6>
      <%#= link_to @user.projects.last.title, project_path(@user.projects.last) %>
    </div>
      <div class="profile-card-image">
        <%= cl_image_tag current_user.photo.key, class: 'project-avatar' %>
      </div>
  </div>
</div>


